<article>
    <h2>The Value of Money</h2>

    <p>The value of money is determined by the demand for it, just like the value of goods and services. There are three ways to measure the value of the dollar. The first is how much the dollar will buy in foreign currencies. That’s what the exchange rate measures. Forex traders on the foreign exchange market determine exchange rates. They take into account supply and demand, and then factor in their expectations for the future.</p>

    <p>The value of money affects you every day at the gas pump and the grocery store. That's because demand for gas and food is inelastic.</p>

    <p>Producers know you have to buy gas and food every week. It’s not always possible to delay purchases when the price rises. Producers will pass on any of their extra costs. You will buy it at the higher price for a while until you can change your habits. When the price of gas or food goes up, you are experiencing the reduced value of money.</p>

</article>

<hr>

<article>
    <h2>GMO Food</h2>

    <figure>
        <img src="./img/1.png" alt="GMO Food">
    </figure>

    <p>Genetically modified food (or GM food) is food produced from plants or animals whose DNA has been altered through genetic engineering. These genetically modified organisms are often called GMOs for short.</p>

    <p>Genetic engineering is the process of manipulating an organism's genes directly — by, for example, transplanting DNA from other organisms. It's different from the conventional method of selectively breeding plants and animals to get desired traits. Genetically modified foods have been on the US market since 1994, ever since the introduction of "Flavr Savr" tomatoes that had been engineered to ripen more slowly.</p>

    <p>So far, there's no good evidence that the foods on the market containing GMOs are any less safe than regular foods.</p>

</article>

<hr>

<article>
    <h2>The View of World in 2100</h2>

    <ul>
        <li>The Internet will be in your contact lens. Imagine blinking, and then instantly going on line, accessing your home office, or home entertainment system anywhere or anytime. </li>

        <li>Computers will disappear, as will cellphones, clocks, watches, and MP3 players. Chips, costing less than a penny apiece, will be hidden by the millions in the environment. </li>

        <li>Our cars will be driver-less, using GPS to navigate without the help of an alert human behind the wheel. These cars will also fly (finally!) by floating on a cushion of magnetism. </li>

        <li>Doctors will be able to grow “spare parts” for our organs as soon as they wear out. This will create a “human body shop.” We will never need organ donors and never die of organ failure. Even the typical doctor’s visit will change.</li>

        <li>The human life span will be extended. Aging will be slowed down by attacking it at the molecular and genetic level.</li>

        <li>Molecular “smart bombs” circulating in our blood will home in on, zap and kill cancer cells.</li>

        <li>Our toilets and bathroom mirror will contain DNA sensors, capable of detecting proteins emitted from perhaps a hundred cancer cells in a cancer colony, 10 years before a tumor forms.</li>

        <li>The robot industry will dwarf the size of the current automobile industry. Robots will be everywhere, performing dangerous and tedious tasks. </li>

        <li>Tourists will soar into outer space via the Space Elevator. We will push the “up” button and the elevator will climb up a long carbon fiber cable, which extends thousands of miles into space. </li>

        <li>With advanced technology also comes advanced dangers, especially biological warfare, nuclear proliferation, and global warming. </li>
    </ul>
</article>
