<h2>Portfolio</h2>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="./img/image-1.JPG" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Image 1</h4>
            <p class="card-text">Tone and Shadow</p>
        </div>

    </div>
    <div class="card">
        <img class="card-img-top" src="./img/image-2.JPG" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Image 2</h4>
            <p class="card-text">Brick and Mosaic</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./img/image-3.JPG" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Image 3</h4>
            <p class="card-text">Feathe and Soil</p>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="./img/image-4.JPG" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Image 4</h4>
            <p class="card-text">Person and Building</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./img/image-5.JPG" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Image 5</h4>
            <p class="card-text">Green and White</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./img/image-6.JPG" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Image 6</h4>
            <p class="card-text">Tunnel and Pipe</p>
        </div>
    </div>
</div>
